body { 
    margin: 0; 
    padding: 0; 
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%;
} 

.main-photos-container {
    display: flex;
}

.row {
    /* flex-direction: column; */
    flex-wrap: nowrap;
}

.description {
    padding-top: 15px;
}

.container-custom{
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

.img-div{ 
    max-width: 82.333333%;
    max-height: 43%;
}

.footer-container {
    display: flex;
    flex-direction: row;
}